<!-- <div class="footer">
    <p>Signup and <br> get free content every week</p>
    <div class="footerinput">
    <input type="text" placeholder="Enter your email..."></div>
    <div class="footerbutton">
        <button>Sign Up</button></div>
</div> -->
<footer class="footer">
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
      <h1 class="footerlogo">Signup and <br> get free content every week</h1>
      <form action="#" class="footerform">
        <input type="text" class="footerinput" name="email" placeholder="  Enter your email...">
        <br><br>
        <button class="footerbtn"> Sign Up</button>
      </form>
    </div>
   
    <div class="footer-col">
      <h3>Categories</h3>

  	 			<ul>
  	 				<li><a href="#">Graphics</a></li>
  	 				<li><a href="#">PSDs</a></li>
  	 				<li><a href="#">Icons</a></li>
  	 				<li><a href="#">Templates</a></li>
            <li><a href="#">Themes</a></li>
  	 			</ul>
    </div>
    <div class="footer-col">
      <h4>-</h4>
      <ul>
        <li><a href="#">Addons</a></li>
        <li><a href="#">Fonts</a></li>
        <li><a href="#">Textures</a></li>
        <li><a href="#">Patterns</a></li>
       <li><a href="#">Backgrounds</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>-</h4>
      <ul>
        <li><a href="#">Buttons</a></li>
        <li><a href="#">Forms</a></li>
        <li><a href="#">GUI</a></li>
        <li><a href="#">Navigation</a></li>
       <li><a href="#">UI Kits</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>.</h4>
      <ul>
        <li><a href="#">Inforgraphics</a></li>
        <li><a href="#">Graphs</a></li>
        <li><a href="#">Logos</a></li>
        <li><a href="#">Vectors</a></li>
       <li><a href="#">Business Cards</a></li>
      </ul>
    </div>
    </div>
      </div>
  </div>   
</footer> 